
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo .img {
  width: 10vmin;
}

.logo img {
  width: 100%;
  height: auto;
}

.logo_name {
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
}

.logo_name h1 {
  color: #191e3e;
  font-size: 4vmin;
  font-weight: 700;
  margin: 0;
}

.logo_name h3 {
  color: #cd808f;
  font-size: 1.5vmin;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 600;
  margin: 0;
}

/* Navigation links */
.nav_content {
  display: flex;
  align-items: center;
}

.nav_content ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.nav_content ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav_content ul li:active {
  color: #cd808f;
}

.nav_content ul li:hover {
  color: #cd808f;
}
.menu_btn {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.nav_content ul li:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #cd808f;
  transition: width 0.3s ease;
}

.nav_content ul li:hover:before {
  width: 100%; 
}

.nav_content ul li:active {
  color: #cd808f;
}

.nav_content ul li:hover {
  color: #330710;
  transform: translateY(-2px); 
}

@media (max-width: 720px) {
  nav {
    padding: 10px 5px;
    width: auto;
  }

  .logo {
    width: 40%;
    display: flex;
    justify-content: flex-start;
  }

  .logo .img {
    width: 12vmin;
  }

  .nav_content {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-color: #db707ea5;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    z-index: 0;
    backdrop-filter: blur(3px);
  }

  .mobile_view {
    transform: translateY(0);
  }

  .remove {
    display: none;
  }

  .menu_btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 965px;
    z-index: 1000;
  }

  .nav_content ul {
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  .nav_content ul li {
    padding: 10px 0;
    font-size: 6vmin;
    letter-spacing: 2px;
    width: 70%;
    color: white;
    text-align: center;
    transition: color 0.3s ease;
    margin: 30px auto;
    font-family: "Exo 2", sans-serif;
  }

  .nav_content ul li:hover {
    color: #330710;
  }
}
