/* Main Navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 27%;
}

.logo .img {
  width: 19vmin;
}

.logo img {
  width: 100%;
  height: 100%;
}

.logo_name {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.logo_name h1 {
  color: #191e3e;
  font-size: 4.3vmin;
  font-weight: 700;
}

.logo_name h3 {
  color: #cd808f;
  font-size: 1.5vmin;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 600;
  text-decoration: none solid rgb(205, 128, 143);
}

/* Navigation links */
.nav_content {
  display: flex;
  align-items: center;
}

.nav_content ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 5px;
}

.nav_content ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 2px 20px;
  font-weight: 500;
  transition: color 0.5s ease;
}

.nav_content ul li:active {
  color: #cd808f;
}

.nav_content ul li:hover {
  color: #cd808f;
}

/* Menu button (hidden by default, shown in mobile view) */
.menu_btn {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Responsive styling */
@media (max-width: 720px) {
  nav {
    padding: 10px 5px;
  }

  .logo {
    width: 25%;
    display: flex;
    justify-content: flex-start;
  }

  .logo .img {
    width: 15vmin;
  }

  .nav_content {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-color: #db707f;
    margin-top: -990px;
    transition: all 0.5s ease;
  }

  .mobile_view {
    margin-top: -30px;
    margin-left: -22px;
    border-bottom-right-radius: 30%;
    color: rgb(255, 255, 255);
  }
  .remove{
    display: none;
  }

  .menu_btn {
    display: block;
    position: absolute;
    right: 45px;
    top: 30px;
  }

  .nav_content ul {
    flex-direction: column;
    gap: 10px;
  }

  .nav_content ul li {
    padding: 10px 20px;
    text-align: center;
    margin: 30px auto;
    font-family: "Exo 2", sans-serif;
    font-size: 5vmin;
    letter-spacing: 2px;
  }
  .nav_content ul li:active {
    color: #2c060d;
  }
  
  .nav_content ul li:hover {
    color: #330710;
  }
  

}
