nav {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 27%;
}
.logo .img {
  width: 19vmin;
}
.logo img {
  width: 100%;
  height: 100%;
}
.logo_name {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}
.logo_name h1 {
  color: #191e3e;
  font-size: 4.3vmin;
  font-weight: 700;
}
.logo_name h3 {
  color: #cd808f;
  font-size: 1.5vmin;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 600;
  text-decoration: none solid rgb(205, 128, 143);
}
.nav_content {
  display: flex;
  align-items: center;
}
.nav_content ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 5px;
}
.nav_content ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 2px 20px;
  font-weight: 500;
  transition: color 0.5s ease;
}

.nav_content ul li:active {
  color: #cd808f;
}

.nav_content ul li:hover {
  color: #cd808f;
}


@media(max-width:720px){
  .logo{
    width: 25%;
  }
  .nav_content{
    display: none;
  }
  .logo .img {
    width: 15vmin;
  }
}