.links {
    display: flex;
    padding: 40px;
    width: 50%;
    margin: 0px auto;
    align-items: center;
    justify-content: space-around;
    padding-top: 70px;
  }
  
  .links a {
    text-decoration: none;
    color: #2c2d30;
    padding: 4px 16px;
    border-radius: 30px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid rgb(212, 212, 212);
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  .links a.active {
    background-color: RGB(71, 123, 228);
    color: white;
    border: none;
  }
  
@media(max-width:720px){
  .links{
    display: flex;
    padding: 40px 0px;
    margin: 0px;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    width: 90vw;
    gap: 5px;
  }
  .links a {
    text-decoration: none;
    color: #2c2d30;
    padding: 4px 12px;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid rgb(212, 212, 212);
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-size: 12px;
  }
}