.links{
    display: flex;
    padding: 40px;
    width:50% ;
    margin: 0px auto;
    align-items: center;
    justify-content: space-around;
    padding-top: 70px;
}
.links a{
    text-decoration: none;
    color: #2C2D30;
    padding: 4px 16px;
    border-radius: 30px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    border: 1px solid rgb(212, 212, 212);
    text-decoration:none solid rgb(44, 45, 48)
}
.links a:nth-child(1){
    background-color: RGB(71, 123, 228);
    color: white;
    border: none;
}